<% name = current_user.present? ? current_user.email : 'Stranger' %>

<%= render 'shared/navbar' %>
<h1>Welcome, <%= name %> </h1>


<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<div class="alternative_bar">
  <%= link_to "Sign Up", new_scratch_path %>
  <%= link_to "Log In", new_scratch_session_path %>
</div>